:root {
    /* background */
    --transparent: #ffffff00;

    /* hair */
    --color-0: #c6a47c;
    --color-2: #9c655a;
    --color-3: #794037;
    --color-6: #e5d3a1;
    --color-7: #512d28;
    --color-11: #3f221f;

    /* face */
    --color-12: #f6e5cd;
    --color-15: #fec9ac;
    --color-23: #ffb397;
    --color-24: #c98d71;
    --color-26: #ffb1a3;
    --color-27: #553d32;
    --color-29: #000000;
    --color-31: #020403;
    --color-36: #413332;
    --color-37: #775053;
    --color-38: #fec6ad;
    --color-39: #654946;
    --color-40: #96686a;

    /* blush */
    --color-30: #ff98a1;
    --color-32: #ffa4a0;
    --color-35: #ff80a2;
    
    /* clothing */
    --color-4: #7a7a7a;
    --color-5: #989898;
    --color-8: #555555;
    --color-14: #b2b2b2;
    --color-16: #393939;
    --color-20: #252525;

    /* accessoires */
    --color-9: #f68b95;
    --color-13: #cc7288;
    --color-17: #f0b2b7;
    --color-18: #3f2a2d;
    --color-19: #783e4f;
    --color-21: #955264;

    /* snowman & snow crystals*/
    --color-1: #ffffff;
    --color-10: #c2c6d4;
    --color-22: #8888a2;
    --color-25: #636171;
    --color-28: #5b6874;
    --color-33: #8996a8;
    --color-34: #4e4c58;
}

div {
    height: 10px;
    width: 10px;
    background-color: var(--transparent);
    position: absolute;
    top: 2%;
    left: 2%;
    box-shadow: 400px 0px var(--color-3), 410px 0px var(--color-3), 
        420px 0px var(--color-0), 430px 0px var(--color-0), 440px 0px var(--color-0), 450px 0px var(--color-0), 460px 0px var(--color-0),
        470px 0px var(--color-2), 470px 0px var(--color-2), 480px 0px var(--color-2)
        ;
}